model_config_list: {
  config: [
    {
      name: "model_product",
      base_path: "/models/model_product/",
      model_platform: "tensorflow",
      model_version_policy: {all: {}}
    },
    {
      name: "model_suitability",
      base_path: "/models/model_suitability/",
      model_platform: "tensorflow",
      model_version_policy: {all: {}}
    }
  ]
}
